{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Soluzione alla Domanda di Comprensione 1 di 3
{% endblock %}

{% block content %}

        <p>
           <font size="5">La domanda era: {{ Constants.training_question_1 }}</font>
        </p>

    <p>
       <font size="5">Opzione A: &euro;20 di sicuro.</font>
    </p>

    <p>
       <font size="5">Opzione B: &euro;10 con probabilit&agrave; 25&#37;,
        &euro;30 con probabilit&agrave; 75&#37;.</font>
    </p>

    <br>

    <p>
        <font size="5">La tua risposta è stata: {{ player.training_question_1 }}</font>
    </p>

<br>

    <p>
        <font size="4">Scegliendo l'Opzione A, ti garantisci 20 euro. Solo se scegli l'Opzione B,
        il guadagno è 10 euro o 30 euro ed è determinato dal tiro dei dadi.</font>
    </p>
<br>

    {% if player.is_training_question_1_correct %}
        <p class="text-success"> <font size="5"><b>Hai risposto correttamente.</b></font> </p>
    {% else %}
        <p class="text-danger"> <font size="5"><b>Non hai risposto correttamente. Se hai dei dubbi, alza la mano.</b></font> </p>
    {% endif %}

    <!--{% next_button %}-->
    <button style="font: bold 20px Arial">CONTINUA</button>


{% endblock %}
