{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Domanda di Comprensione 1 di 3
{% endblock %}

{% block content %}
        <p>
           <font size="5"> Considera la seguente scelta:</font>
        </p>

    <p>
       <font size="5">Opzione A: &euro;20 di sicuro.</font>
    </p>

    <p>
       <font size="5">Opzione B: &euro;10 con probabilit&agrave; 25&#37;,
        &euro;30 con probabilit&agrave; 75&#37;.</font>
    </p>

    <br>
    <br>

        <p><font size="5">{{Constants.training_question_1}}</font>
            {% formfield player.training_question_1 with label="" %}
        </p>
    <br>

     <!--{% next_button %}-->
    <button style="font: bold 20px Arial">INVIA!</button>

{% endblock %}
