{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Domanda di Comprensione 2 di 3
{% endblock %}

{% block content %}
        <p>
           <font size="5"> Considera la seguente scelta:</font>
        </p>

    <p>
       <font size="5">Opzione A: &euro;30 di sicuro.</font>
    </p>

    <p>
       <font size="5">Opzione B: &euro;5 con probabilit&agrave; 67&#37;,
        &euro;90 con probabilit&agrave; 33&#37;.</font>
    </p>

    <br>
    <br>
        <p><font size="5">{{Constants.training_question_2}}</font>
            {% formfield player.training_question_2 with label="" %}
        </p>
    <br>

     <!--{% next_button %}-->
    <button style="font: bold 20px Arial">INVIA!</button>

{% endblock %}
